
.navi {
	width: 1500px;
	height: 28px;
	margin: 0;
	padding: 0;
	background-color: rgb(235, 235, 235);
}

.navi li a {
	text-decoration: none;
	color: black;
	height: 28px;
	font-weight: bold;
	display: block;
	text-align: center;
	padding: 10px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navi>li {
	float: left;
	width: 20%;
}

.navi>li>a {
	padding: 10px;
}

li a {
	background-color: rgb(235, 235, 235);
	text-decoration: none;
	font-weight: bold;
	color: black;
	display: block;
	text-align: center;
}

li a:hover {
	background-color: gray;
	color: white;
}

.navi li ul { /* << li 하위의 ul = 서브메뉴 */
	display: none;
}

.navi li:hover ul {
	display: block;
}

.navi li ul {
	opacity: 0;
}

.navi li:hover ul {
	opacity: 1;
	transition: all 1s;
}

.navi li a {
	transition: all 0.5s;
}