@charset "UTF-8";

/* 시멘틱 구조영역 스타일 */ 
#wrapping1 {
	width: auto;
	height: 1410px;
	margin: 0 auto;
	background-image: linear-gradient(to top, #e3eeff 0%, #e3eeff 20%, #f3e7e9 100%);
}

#wrapping2 {
	width: 1550px;
	height: 1410px;
	margin: 0 auto;
	background-color: white;
}

header {
	position: static;
	width: 1500px;
	margin: 0 auto;
}

nav {
	position: relative;
	width: 1500px;
	z-index: 3;
	margin: 0 auto;
}

section {
	width: 1500px;
	height: 1050px;
	padding-top: 20px;
	margin: 0 auto;
	z-index: 1;
	display: block;
}

/* banner 영역 스타일 */
.banner {
	position: absolute;
	width: 1500px;
	height: 400px;
	top: 200px;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
}

.banner ul {
	position: absolute;
	margin: 0px;
	padding: 0;
	list-style: none;
}

.banner ul li {
	float: left;
	width: 1500px;
	height: 400px;
	margin: 0;
	padding: 0;
}

/* 기타 Div 영역 스타일 */

/* a영역 decoration */
a {
	text-decoration: none;
	color: black;
}

/* todayBlood Div 영역 */
.todayBlood {
	width: 315px;
	height: 400px;
	background: rgba(243, 243, 243, 0.7);
	position: absolute;
	float: left;
	margin-top: 420px;
	border-top-left-radius: 7%;
	border-top-right-radius: 7%;
	border-bottom-left-radius: 7%;
	border-bottom-right-radius: 7%;
}

.tbBox {
	width: 100%;
	height: 350px;
	position: absolute;
	float: left;
	margin-top: 10px;
}

.tbSpan {
	margin-left: 20px;
	margin-top: 15px;
	font-weight: bolder;
	border-bottom: 2px solid lightgray;
	color: rgb(30, 30, 30);
	display: inline-block;
	width: 200px;
	height: 30px;
	text-align: center;
	font-size: 1.1em;
}

/* notice Div 영역 */
.notice {
	width: 315px;
	height: 400px;
	background: rgba(243, 243, 243, 0.7);
	position: absolute;
	float: left;
	margin-top: 420px;
	margin-left: 355px;
	border-top-left-radius: 7%;
	border-top-right-radius: 7%;
	border-bottom-left-radius: 7%;
	border-bottom-right-radius: 7%;
}

.ntBox {
	width: 90%;
	height: 330px;
	position: absolute;
	float: left;
	margin-top: 10px;
	margin-left: 5%;
}

.ntSpan {
	margin-left: 20px;
	margin-top: 15px;
	font-weight: bolder;
	border-bottom: 2px solid lightgray;
	color: rgb(30, 30, 30);
	display: inline-block;
	width: 200px;
	height: 30px;
	text-align: center;
	font-size: 1.1em;
}

td {
	text-align: left;
	padding-left: 30px;
}

/* blCheck Div 영역 */
.blCheck {
	width: 315px;
	height: 400px;
	background: rgba(243, 243, 243, 0.7);
	position: absolute;
	float: left;
	margin-top: 420px;
	margin-left: 710px;
	border-top-left-radius: 7%;
	border-top-right-radius: 7%;
	border-bottom-left-radius: 7%;
	border-bottom-right-radius: 7%;
}

.bChkBox {
	width: 100%;
	height: 350px;
	position: absolute;
	float: left;
	margin-top: 10px;
}

.blSpan {
	margin-left: 20px;
	margin-top: 15px;
	font-weight: bolder;
	border-bottom: 2px solid lightgray;
	color: rgb(30, 30, 30);
	display: inline-block;
	width: 200px;
	height: 30px;
	text-align: center;
	font-size: 1.1em;
}

.blcBtn {
	width: 250px;
	height: 50px;
	margin-left: 60px;
	margin-top: 40px;
	font-weight: bold;
	font-size: 20px;
}

/* 지역별 헌혈 랭킹 Div 영역 */
.rank {
	width: 435px;
	height: 400px;
	background: rgba(243, 243, 243, 0.7);
	position: absolute;
	float: left;
	margin-top: 420px;
	margin-left: 1065px;
	border-top-left-radius: 7%;
	border-top-right-radius: 7%;
	border-bottom-left-radius: 7%;
	border-bottom-right-radius: 7%;
}

.rankBox {
	width: 100%;
	height: 500px;
	position: absolute;
	float: left;
	margin-top: 10px;
}

.rankSpan {
	margin-left: 20px;
	margin-top: 15px;
	font-weight: bolder;
	border-bottom: 2px solid lightgray;
	color: rgb(30, 30, 30);
	display: inline-block;
	width: 200px;
	height: 30px;
	text-align: center;
	font-size: 1.1em;
}

/* 응원의 한마디 Div 영역 */
.cheerUp {
	width: 645px;
	height: 200px;
	position: absolute;
	float: left;
	margin-top: 860px;
	background: rgba(243, 243, 243, 0.7);
}

.cuBox {
	width: 600px;
	height: 80px;
	position: absolute;
	top: 15px;
	left: 20px;
	float: left;
	margin-top: 10px;
}

.cuSpan {
	margin-left: 20px;
	margin-top: 10px;
	font-weight: bolder;
	border-bottom: 2px solid lightgray;
	color: rgb(30, 30, 30);
	display: inline-block;
	width: 200px;
	height: 30px;
	text-align: center;
	font-size: 1.1em;
}

/* 유투브 영역 */
.yTube {
	width: 810px;
	height: 200px;
	position: absolute;
	float: left;
	margin-top: 860px;
	margin-left: 685px;
	background: rgba(243, 243, 243, 0.7);
}

.yTSpan {
	margin-left: 20px;
	margin-top: 10px;
	font-weight: bolder;
	border-bottom: 2px solid lightgray;
	color: rgb(30, 30, 30);
	display: block;
	width: 200px;
	height: 30px;
	text-align: center;
	font-size: 1.1em;
	position: absolute;
	float: left;
}

.yTube1 {
	margin-top: 52px;
	margin-left: 10px;
	float: left;
}

.yTube2 {
	margin-top: 52px;
	margin-left: 20px;
	float: left;
}

.yTube3 {
	margin-top: 52px;
	margin-left: 20px;
	float: left;
}

/* heart 영역 움직이기 */
.blA {
	position: position;
	width: 150px;
	height: 150px;
	float: left;
}

.blAB {
	position: relative;
	width: 150px;
	height: 150px;
	float: left;
}

.blB {
	position: relative;
	width: 150px;
	height: 150px;
	float: left;
	top: 20px;
}

.blO {
	position: relative;
	width: 150px;
	height: 150px;
	float: left;
	top: 20px;
}

.bKind {
	position: absolute;
	margin-top: 20px;
	margin-left: 71px;
	font-weight: bold;
	float: left;
}

.hPosition {
	position: absolute;
	margin-top: 50px;
	margin-left: 48px;
}

.brCount {
	position: absolute;
	margin-top: 140px;
	margin-left: 78px;
}


/* 헌혈의집 찾기 */

.img_mark{
text-align: left;
    padding: 15px;
    position: relative;
    width: 290px;
    height: 100px;
     background: url(/images/bg_bloodcenter.jpg) repeat-x 0px 65px;
}

.sitename{
	margin-top : 0px;
	color: #cc0000;
    font-weight: bold;
    font-size: 1.0em;
    line-height: 1.4em;
    padding-left: 35px;
    padding-bottom : 7px;
    background: url(/images/bloodCenter.png) no-repeat 0px 3px;
}

.phone{
	background: url(/images/tel.png) no-repeat 0px 3px;
    padding-left: 15px;
    margin-top: 5px;
    font-size: 0.8em;
}

.address{
    margin-top: 10px;
    font-size: 0.8em;
}

#rankBox{
	width: 90%;
	height: 80%;
	margin-top: 4%;
	margin-left: 5%;	
}
